extends layout

block scripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	| <script type='text/javascript'>
	| var socket = io.connect('http://localhost:8080');
	| socket.on('chat', function(msg){
	|	document.getElementById('chat').innerHTML = '<p><b>'+msg.title+'</b>: '+msg.texto+'</p>';
	| });
	| var enviaMsg = function(form){
	|	socket.emit('chat', {texto: form.chat.value});
	|	return false;
	| }
	|</script>

block content
	div#chat
	form(onsubmit='return enviaMsg(this);')
		input.chat(name='chat', type='text')
		input(type='submit', value='enviar')