extends layout
block scripts
	script(type='text/javascript', src='/js/libs/jquery.js')

block content
	// Esta é uma linha de comentário
	div#pagina_inicial
		h1 Hello World!!
		p Primeira página feita com o template engine Jade!!
	//
		Este é um bloco de comentário